@font-face {
    font-family: 'IranianSans';
    src: url('../fonts/IranianSans.eot'), 
         url('../fonts/IranianSans.eot') format('embedded-opentype'), 
         url('../fonts/IranianSans.woff2') format('woff2'), 
         url('../fonts/IranianSans.woff') format('woff'), 
         url('../fonts/IranianSans.ttf') format('truetype'), 
         url('../fonts/IranianSans.svg') format('svg');
}

    
    body {
    font-family: 'IranianSans';
}

.SliderImage img {

    top: 0;
    left: 0;
    height: 100%;
    width: 100%

}
.slider-item .slider-inner .slider-infor  {
    position: fixed;
    padding-bottom: 126px;
    padding-top: 80px;
    padding-left: 680px;
    padding-right: 170px;
    float: left;
    direction: rtl;

}

.item-banner-Category .banner-content {
    padding-top: 49px;
    padding-right: 160px;
    padding-bottom: 53px;
    padding-left: 23px;
    direction: rtl;
    position: absolute;
    bottom: 10px;
}
.item-banner-Category .inner img {
    position: relative;
}

.item-banner-category .title {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 5px;
}

.item-banner-Category .description {
    margin-bottom: 20px;
    max-width: 190px;
}
.item-banner-Category a {
    background: lightgray;
    color: #000;
    border-radius: 15px;
    overflow: hidden;
    font-size: 16px;
    font-family: inherit;
    
}
.item-banner-Category a:hover {
    background: darkgray;
    color: #000;
    border-radius: 15px;
    overflow: hidden;
    font-size: 16px;
    font-family: inherit;
}

.header-nav-container {
    direction: rtl;
}
.header-nav-container .container {
    padding-right: 85px;
}
.block-account {
    direction: rtl;
}
.productPrice {
    font-size: 14px;
}
.onDiscount {
    font-size: 14px;
    border-radius: 20px;
    font-weight: 500;
    text-transform: capitalize;
    display: inline-block;
    float: left;
    line-height: 22px;
    height: 22px;
    min-width: 44px;
    padding: 0 15px;
    text-align: center;
    background-color: red;
    color: #fff;
    position: relative;
}

