@page
@model IndexModel
@{
    ViewData["Title"] = " فروشگاه اینترنتی دکومال";
}

<div class="main-content">
<div class="fullwidth-template">

<!--Slider -->

@await Component.InvokeAsync("Slider")

<!-- End Slider-->

<!--Category Area-->

@await Component.InvokeAsync("ProductCategory")

<!-- End Category Area-->

<!--Show Products By Categories -->

@await Component.InvokeAsync("ProductCategoryWithProduct")

<!-- End Show Products By Categories-->


<!--Big banner Starts -->

@await Component.InvokeAsync("BigBanner")

<!--Big banner End -->



<!--Latest Products Starts -->

@await Component.InvokeAsync("LatestProducts")

<!-- End Latest Products-->


<!--Small banner Starts -->

@await Component.InvokeAsync("SmallBanner")


<!--Small banner End -->

<!-- Product Discount Start -->

@await Component.InvokeAsync("ProductDiscount")

<!-- Product Discount End -->

<!-- Articles Start -->

@await Component.InvokeAsync("Articles")

<!-- Articles End -->

</div>
</div>

