@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="cleric-blog-wraap">
<div class="container">
<h3 class="custommenu-title-blog">
    Our Latest News
</h3>
<div class="cleric-blog default">
<div class="owl-slick equal-container nav-center"
     data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":true, "infinite":true, "speed":800, "rows":1}'
     data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":3}},{"breakpoint":"1200","settings":{"slidesToShow":3}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"768","settings":{"slidesToShow":2}},{"breakpoint":"481","settings":{"slidesToShow":1}}]'>
<div class="cleric-blog-item equal-element layout1">
    <div class="post-thumb">
        <a href="#">
            <img src="~/Theme/assets/images/slider-blog-thumb-1.jpg" alt="img">
        </a>
        <div class="category-blog">
            <ul class="list-category">
                <li class="category-item">
                    <a href="#">Skincare</a>
                </li>
            </ul>
        </div>
        <div class="post-item-share">
            <a href="#" class="icon">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </a>
            <div class="box-content">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#">
                    <i class="fa fa-pinterest"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="blog-info">
        <div class="blog-meta">
            <div class="post-date">
                Agust 17, 09:14 am
            </div>
            <span class="view">
                <i class="icon fa fa-eye" aria-hidden="true"></i>
                631
            </span>
            <span class="comment">
                <i class="icon fa fa-commenting" aria-hidden="true"></i>
                84
            </span>
        </div>
        <h2 class="blog-title">
            <a href="#">We bring you the best by working</a>
        </h2>
        <div class="main-info-post">
            <p class="des">
                Phasellus condimentum nulla a arcu lacinia, a venenatis ex congue.
                Mauris nec ante magna.
            </p>
            <a class="readmore" href="#">Read more</a>
        </div>
    </div>
</div>
<div class="cleric-blog-item equal-element layout1">
    <div class="post-thumb">
        <a href="#">
            <img src="~/Theme/assets/images/slider-blog-thumb-2.jpg" alt="img">
        </a>
        <div class="category-blog">
            <ul class="list-category">
                <li class="category-item">
                    <a href="#">HOW TO</a>
                </li>
            </ul>
        </div>
        <div class="post-item-share">
            <a href="#" class="icon">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </a>
            <div class="box-content">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#">
                    <i class="fa fa-pinterest"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="blog-info">
        <div class="blog-meta">
            <div class="post-date">
                Agust 17, 09:14 am
            </div>
            <span class="view">
                <i class="icon fa fa-eye" aria-hidden="true"></i>
                631
            </span>
            <span class="comment">
                <i class="icon fa fa-commenting" aria-hidden="true"></i>
                84
            </span>
        </div>
        <h2 class="blog-title">
            <a href="#">We know that buying Items</a>
        </h2>
        <div class="main-info-post">
            <p class="des">
                Using Lorem Ipsum allows designers to put together layouts
                and the form content
            </p>
            <a class="readmore" href="#">Read more</a>
        </div>
    </div>
</div>
<div class="cleric-blog-item equal-element layout1">
    <div class="post-thumb">
        <div class="video-cleric-blog">
            <figure>
                <img src="~/Theme/assets/images/slider-blog-thumb-3.jpg" alt="img" width="370"
                     height="280">
            </figure>
            <a class="quick-install" href="#" data-videosite="vimeo"
               data-videoid="134060140"></a>
        </div>
        <div class="category-blog">
            <ul class="list-category">
                <li class="category-item">
                    <a href="#">VIDEO</a>
                </li>
            </ul>
        </div>
        <div class="post-item-share">
            <a href="#" class="icon">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </a>
            <div class="box-content">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#">
                    <i class="fa fa-pinterest"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="blog-info">
        <div class="blog-meta">
            <div class="post-date">
                Agust 17, 09:14 am
            </div>
            <span class="view">
                <i class="icon fa fa-eye" aria-hidden="true"></i>
                631
            </span>
            <span class="comment">
                <i class="icon fa fa-commenting" aria-hidden="true"></i>
                84
            </span>
        </div>
        <h2 class="blog-title">
            <a href="#">We design functional Items</a>
        </h2>
        <div class="main-info-post">
            <p class="des">
                Risus non porta suscipit lobortis habitasse felis, aptent
                interdum pretium ut.
            </p>
            <a class="readmore" href="#">Read more</a>
        </div>
    </div>
</div>
<div class="cleric-blog-item equal-element layout1">
    <div class="post-thumb">
        <a href="#">
            <img src="~/Theme/assets/images/slider-blog-thumb-4.jpg" alt="img">
        </a>
        <div class="category-blog">
            <ul class="list-category">
                <li class="category-item">
                    <a href="#">Skincare</a>
                </li>
            </ul>
        </div>
        <div class="post-item-share">
            <a href="#" class="icon">
                <i class="fa fa-share-alt" aria-hidden="true"></i>
            </a>
            <div class="box-content">
                <a href="#">
                    <i class="fa fa-facebook"></i>
                </a>
                <a href="#">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a href="#">
                    <i class="fa fa-pinterest"></i>
                </a>
                <a href="#">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="blog-info">
        <div class="blog-meta">
            <div class="post-date">
                Agust 17, 09:14 am
            </div>
            <span class="view">
                <i class="icon fa fa-eye" aria-hidden="true"></i>
                631
            </span>
            <span class="comment">
                <i class="icon fa fa-commenting" aria-hidden="true"></i>
                84
            </span>
        </div>
        <h2 class="blog-title">
            <a href="#">We know that buying Items</a>
        </h2>
        <div class="main-info-post">
            <p class="des">
                Class integer tellus praesent at torquent cras, potenti erat fames
                volutpat etiam.
            </p>
            <a class="readmore" href="#">Read more</a>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>