@{
}


<div class="header-nav-container">
    <div class="container">
        <div class="header-nav-wapper main-menu-wapper">
            <div class="vertical-wapper block-nav-categori">
                <div class="block-title">
                    <span class="icon-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="text">دسته بندی گروه محصولات</span>
                </div>
                <div class="block-content verticalmenu-content">
                    <ul class="cleric-nav-vertical vertical-menu">
                        <li class="menu-item">
                            <a href="#" class="cleric-menu-item-title" title="New Arrivals">New Arrivals</a>
                        </li>
                        <li class="menu-item">
                            <a title="Hot Sale" href="#" class="cleric-menu-item-title">Hot Sale</a>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a title="Accessories" href="#" class="cleric-menu-item-title">Accessories</a>
                            <span class="toggle-submenu"></span>
                            @* <ul role="menu" class=" submenu">
                                <li class="menu-item">
                                    <a title="Living" href="#" class="cleric-item-title">Living</a>
                                </li>
                                <li class="menu-item">
                                    <a title="Accents" href="#" class="cleric-item-title">Accents</a>
                                </li>
                                <li class="menu-item">
                                    <a title="New Arrivals" href="#" class="cleric-item-title">New Arrivals</a>
                                </li>
                                <li class="menu-item">
                                    <a title="Accessories" href="#" class="cleric-item-title">Accessories</a>
                                </li>
                                <li class="menu-item">
                                    <a title="Bedroom" href="#" class="cleric-item-title">Bedroom</a>
                                </li>
                            </ul>*@
                        </li>
                        <li class="menu-item">
                            <a title="Accents" href="#" class="cleric-menu-item-title">Accents</a>
                        </li>
                        <li class="menu-item">
                            <a title="Tables" href="#" class="cleric-menu-item-title">Tables</a>
                        </li>
                        <li class="menu-item">
                            <a title="Dining" href="#" class="cleric-menu-item-title">Dining</a>
                        </li>
                        <li class="menu-item">
                            <a title="Lighting" href="#" class="cleric-menu-item-title">Lighting</a>
                        </li>
                        <li class="menu-item">
                            <a title="Office" href="#" class="cleric-menu-item-title">Office</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="header-nav">
                <div class="container-wapper">
                    <ul class="cleric-clone-mobile-menu cleric-nav main-menu " id="menu-main-menu">
                        <li class="menu-item  menu-item-has-children">
                            <a href="index-2.html" class="cleric-menu-item-title" title="Home">صفحه اصلی</a>
                            <span class="toggle-submenu"></span>
                            <ul class="submenu">
                                <li class="menu-item">
                                    <a href="index-2.html">Home 01</a>
                                </li>
                                <li class="menu-item">
                                    <a href="home2.html">Home 02</a>
                                </li>
                                <li class="menu-item">
                                    <a href="home3.html">Home 03</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="gridproducts.html" class="cleric-menu-item-title" title="Shop">محصولات</a>
                            <span class="toggle-submenu"></span>
                            <ul class="submenu">
                                <li class="menu-item">
                                    <a href="gridproducts.html">Grid Fullwidth</a>
                                </li>
                                <li class="menu-item">
                                    <a href="gridproducts_leftsidebar.html">Grid Left sidebar</a>
                                </li>
                                <li class="menu-item">
                                    <a href="gridproducts_bannerslider.html">Grid Bannerslider</a>
                                </li>
                                <li class="menu-item">
                                    <a href="listproducts.html">List</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item  menu-item-has-children">
                            <a href="index-2.html" class="cleric-menu-item-title" title="Home">دکوری</a>
                            <span class="toggle-submenu"></span>
                            <ul class="submenu">
                                <li class="menu-item">
                                    <a href="index-2.html">Home 01</a>
                                </li>
                                <li class="menu-item">
                                    <a href="home2.html">Home 02</a>
                                </li>
                                <li class="menu-item">
                                    <a href="home3.html">Home 03</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item  menu-item-has-children">
                            <a href="index-2.html" class="cleric-menu-item-title" title="Home">مقالات</a>
                            <span class="toggle-submenu"></span>
                            <ul class="submenu">
                                <li class="menu-item">
                                    <a href="index-2.html">Home 01</a>
                                </li>
                                <li class="menu-item">
                                    <a href="home2.html">Home 02</a>
                                </li>
                                <li class="menu-item">
                                    <a href="home3.html">Home 03</a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a href="about.html" class="cleric-menu-item-title" title="About">درباره ما</a>
                        </li>
                        <li class="menu-item">
                            <a href="about.html" class="cleric-menu-item-title" title="Contact">تماس با ما</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="header-device-mobile">
    <div class="wapper">
        <div class="item mobile-logo">
            <div class="logo">
                <a asp-page="./Index">
                    <img src="~/Theme/assets/images/logo.png" alt="img">
                </a>
            </div>
        </div>
        <div class="item item mobile-search-box has-sub">
            <a href="#">
                <span class="icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </span>
            </a>
            <div class="block-sub">
                <a href="#" class="close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </a>
                <div class="header-searchform-box">
                    <form class="header-searchform">
                        <div class="searchform-wrap">
                            <input type="text" class="search-input" placeholder="جستجو در فروشگاه">
                            <input type="submit" class="submit button" value="جستجو">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="item mobile-settings-box has-sub">

            <div class="item menu-bar">
                <a class=" mobile-navigation  menu-toggle" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="footer-device-mobile">
    <div class="wapper">
        <div class="footer-device-mobile-item device-home">
            <a asp-page="./Index">
                <span class="icon">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </span>
                صفحه اصلی
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-wishlist">
            <a asp-page="./Index">
                <span class="icon">
                    <i class="fa fa-heart" aria-hidden="true"></i>
                </span>
                علاقه مندی ها
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-cart">
            <a href="#">
                <span class="icon">
                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                    <span class="count-icon">
                        0
                    </span>
                </span>
                <span class="text">سبد خرید</span>
            </a>
        </div>
        <div class="footer-device-mobile-item device-home device-user">
            <a href="login.html">
                <span class="icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </span>
                ورود | ثبت نام
            </a>
        </div>
    </div>
</div>