@*
For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="cleric-product produc-featured rows-space-65">
    <div class="container">
        <h3 class="custommenu-title-blog">
            تخفیف های امروز
        </h3>
        <div class="owl-products owl-slick equal-container nav-center"
        data-slick='{"autoplay":false, "autoplaySpeed":1000, "arrows":false, "dots":true, "infinite":false, "speed":800, "rows":1}'
        data-responsive='[{"breakpoint":"2000","settings":{"slidesToShow":4}},{"breakpoint":"1200","settings":{"slidesToShow":3}},{"breakpoint":"992","settings":{"slidesToShow":2}},{"breakpoint":"480","settings":{"slidesToShow":1}}]'>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                            <span class="onnew">
                                <span class="text">
                                    new
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="~/Theme/assets/images/product-item-17.jpg" alt="img">
                            </a>
                            <div class="thumb-group">
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button">
                                        <a href="#">Add to Wishlist</a>
                                    </div>
                                </div>
                                <a href="#" class="button quick-wiew-button">Quick View</a>
                                <div class="loop-form-add-to-cart">
                                    <button class="single_add_to_cart_button button">Add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-count-down">
                            <div class="cleric-countdown" data-y="2020" data-m="10" data-w="4" data-d="10"
                            data-h="20" data-i="20" data-s="60"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">Rolf Round</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    $65
                                </del>
                                <ins>
                                    $45
                                </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                            <span class="onnew">
                                <span class="text">
                                    new
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="~/Theme/assets/images/product-item-21.jpg" alt="img">
                            </a>
                            <div class="thumb-group">
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button">
                                        <a href="#">Add to Wishlist</a>
                                    </div>
                                </div>
                                <a href="#" class="button quick-wiew-button">Quick View</a>
                                <div class="loop-form-add-to-cart">
                                    <button class="single_add_to_cart_button button">Add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-count-down">
                            <div class="cleric-countdown" data-y="2020" data-m="9" data-w="2" data-d="30"
                            data-h="20" data-i="60" data-s="60"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">Voxel Armchair</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    $65
                                </del>
                                <ins>
                                    $45
                                </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                            <span class="onnew">
                                <span class="text">
                                    new
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="~/Theme/assets/images/product-item-20.jpg" alt="img">
                            </a>
                            <div class="thumb-group">
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button">
                                        <a href="#">Add to Wishlist</a>
                                    </div>
                                </div>
                                <a href="#" class="button quick-wiew-button">Quick View</a>
                                <div class="loop-form-add-to-cart">
                                    <button class="single_add_to_cart_button button">Add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-count-down">
                            <div class="cleric-countdown" data-y="2020" data-m="12" data-w="1" data-d="24"
                            data-h="20" data-i="50" data-s="60"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">Sofa Lounge</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    $65
                                </del>
                                <ins>
                                    $45
                                </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                            <span class="onnew">
                                <span class="text">
                                    new
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="~/Theme/assets/images/product-item-22.jpg" alt="img">
                            </a>
                            <div class="thumb-group">
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button">
                                        <a href="#">Add to Wishlist</a>
                                    </div>
                                </div>
                                <a href="#" class="button quick-wiew-button">Quick View</a>
                                <div class="loop-form-add-to-cart">
                                    <button class="single_add_to_cart_button button">Add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-count-down">
                            <div class="cleric-countdown" data-y="2020" data-m="7" data-w="3" data-d="20"
                            data-h="10" data-i="10" data-s="20"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">Foyer Back</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    $65
                                </del>
                                <ins>
                                    $45
                                </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                            <span class="onnew">
                                <span class="text">
                                    new
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="~/Theme/assets/images/product-item-19.jpg" alt="img">
                            </a>
                            <div class="thumb-group">
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button">
                                        <a href="#">Add to Wishlist</a>
                                    </div>
                                </div>
                                <a href="#" class="button quick-wiew-button">Quick View</a>
                                <div class="loop-form-add-to-cart">
                                    <button class="single_add_to_cart_button button">Add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-count-down">
                            <div class="cleric-countdown" data-y="2020" data-m="9" data-w="2" data-d="30"
                            data-h="20" data-i="60" data-s="60"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">Graceful Diamond</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    $65
                                </del>
                                <ins>
                                    $45
                                </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-item style-5">
                <div class="product-inner equal-element">
                    <div class="product-top">
                        <div class="flash">
                            <span class="onnew">
                                <span class="text">
                                    new
                                </span>
                            </span>
                        </div>
                    </div>
                    <div class="product-thumb">
                        <div class="thumb-inner">
                            <a href="#">
                                <img src="~/Theme/assets/images/product-item-18.jpg" alt="img">
                            </a>
                            <div class="thumb-group">
                                <div class="yith-wcwl-add-to-wishlist">
                                    <div class="yith-wcwl-add-button">
                                        <a href="#">Add to Wishlist</a>
                                    </div>
                                </div>
                                <a href="#" class="button quick-wiew-button">Quick View</a>
                                <div class="loop-form-add-to-cart">
                                    <button class="single_add_to_cart_button button">Add to cart</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-count-down">
                            <div class="cleric-countdown" data-y="2020" data-m="9" data-w="2" data-d="30"
                            data-h="20" data-i="60" data-s="60"></div>
                        </div>
                    </div>
                    <div class="product-info">
                        <h5 class="product-name product_title">
                            <a href="#">Palm Chair</a>
                        </h5>
                        <div class="group-info">
                            <div class="stars-rating">
                                <div class="star-rating">
                                    <span class="star-3"></span>
                                </div>
                                <div class="count-star">
                                    (3)
                                </div>
                            </div>
                            <div class="price">
                                <del>
                                    $65
                                </del>
                                <ins>
                                    $45
                                </ins>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>